<!DOCTYPE html>
<html>
  <head>
    <title>Codebreaker</title>
    <link rel="stylesheet" href="/css/styles.css" type="text/css" media="screen" />
  </head>
  <body>
    <div class="container">
      <h1>User name is <%= user %></h1>
      <form style="display: inline-block;" method="post" action="/guess">
        <input type="text" name="guess" value="" />
        <input type="submit" value="Guess" />
      </form>
      <form style="display: inline-block;" method="post" action="/hint">
        <input type="submit" value="Hint" />
      </form>
      <h2>Last hint: <%= last_hint %></h2>
      <h2>Attempts: <%= attempts_left %>/<%= attempts_amount %></h2>
      <ul>
        <% attempts.each do |attempt| %>
        <li><%= attempt['guess'] %> -> <%= attempt['output'] %></li>
        <% end %>
      </ul>
    </div>
  </body>
</html>
